.channelRow {
  display: flex;
  width: 70%;
  max-width: 700px;
}
.channelRow > img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: contain;
  margin: 1rem 3rem;
}

.channelRow__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5rem;
  text-align: left;
  word-wrap: break-word;
}

.channelRow__description > p {
  color: gray;
}

.channelRow__heading {
  display: flex;
}
