.recommended {
  flex: 0.8;
  background-color: #f9f9f9;
  padding: 1rem 2rem 0;
}

.recommended__videos {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 480px) {
  .recommended__videos {
    align-items: center;
    justify-content: center;
  }
}
