.videoRow {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 700px;
}

.videoRow__card {
  display: flex;
  align-items: center;
}

.videoRow__card > img {
  height: 125px;
  width: 250px;
  object-fit: cover;
  margin: 1rem 2rem 1rem 0;
}

.videoRow__text {
  line-height: 1.5rem;
  text-align: left;
  word-wrap: break-word;
}

.videoRow__text > h3 {
  margin-bottom: 0.75rem;
}

.videoRow__vidDetail {
  color: gray;
}

.videoRow__vidDetail + p {
  font-size: 1.1rem;
}
